/*
NAME : MJMODAL
DESCRIPTION : MJMODAL is a simple modal in pure javascript & CSS3
AUTHOR : MORGAN JOURDIN
VERSION : 2.0
*/

html, body {
	padding: 0;
	margin: 0;
}

body {
	background: url(https://raw.githubusercontent.com/mccray/MJMODAL/master/bg.jpg) repeat-x 0 0 black;
	font-family: arial;
	line-height: 120%
}

#mjp {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	padding: 20px 15px;
	background: #eee;
	border: 15px solid rgba(0, 0, 0, .3);
	-webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    -ms-background-clip: padding;
    -o-background-clip: padding;
    background-clip: padding-box;
}

#mjp:after {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	max-width: 100%;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-ms-box-sizing: border-box;
  	-o-box-sizing: border-box;
  	box-sizing: border-box;
}

h1, p {
	padding: 0;
	margin: 0 0 15px;
	color: black;
}

.action {
	margin: 10px 15px;
}

.close, .action {
	border: 0 none;
	background: black;
	color: white;
	padding: 10px 20px;
	position: relative;
	text-transform: uppercase;
	float: right;
	cursor: pointer;
}

.close:hover, .action:hover {
	background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
	#mjp {
		width: auto;
		padding: 15px;
		margin: 15px;
		left: auto;
	}
}

@media (min-width: 768px) and (max-width: 970px) { 
	#mjp {
		width: 40%;
		padding: 15px;
		margin: 15px auto;
		margin-left: -20%;
	}
}
